<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="ui visible left vertical sidebar menu">
            {% include sidebar.html%}
        </div>
        <div class="pusher">
            {% include header.html %}
            <div class="page-content">
                <div class="wrap">
                    {{ content }}
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
<script>
    // 目录显示
    $('.vertical.sidebar').sidebar('show');
    // 目录搜索
//    $('.ui.search').search();
    $('.ui.accordion').accordion({
        selector: {
            trigger: '.title .icon'
        }
    });
</script>
</html>