<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="pusher">
            {% include header.html %}
            <div class="page-content">
                <div class="wrap">
                    {{ content }}
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
<script>
    var defaultData = [{
        text: 'Parent 1',
        href: '#parent1'
        nodes: [
            {
                text: 'Child 1',
                href: '#child1'
                nodes: [
                    {
                        text: 'Grandchild 1',
                        href: '#grandchild1'
                    },
                    {
                        text: 'Grandchild 2',
                        href: '#grandchild2'
                    }
                ]
            },
            {
                text: 'Child 2',
                href: '#child2'
            }
        ]
    },{
            text: 'Parent 2',
            href: '#parent2'
        },
        {
            text: 'Parent 3',
            href: '#parent3'
        },
        {
            text: 'Parent 4',
            href: '#parent4'
        },
        {
            text: 'Parent 5',
            href: '#parent5'
        }
    ];
    $('#summary').treeview({
        color: "#428bca",
        enableLinks: true,
        showBorder: false,
        data: defaultData
    });
    $('.vertical.sidebar').sidebar('setting', {dimPage: false})
            .sidebar('show');
    // 目录搜索
    var content = [
        {title: 'Andorra'},
        {title: 'United Arab Emirates'},
        {title: 'Afghanistan'},
        {title: 'Antigua'},
        {title: 'Anguilla'},
        {title: 'Albania'},
        {title: 'Armenia'},
        {title: 'Netherlands Antilles'},
        {title: 'Angola'},
        {title: 'Argentina'},
        {title: 'American Samoa'},
        {title: 'Austria'},
        {title: 'Australia'},
        {title: 'Aruba'},
        {title: 'Aland Islands'},
        {title: 'Azerbaijan'},
        {title: 'Bosnia'},
        {title: 'Barbados'},
        {title: 'Bangladesh'},
        {title: 'Belgium'},
        {title: 'Burkina Faso'},
        {title: 'Bulgaria'},
        {title: 'Bahrain'},
        {title: 'Burundi'}
        // etc
    ];
    $('.ui.search').search({
        source: content,
        minCharacters: 2, // 最小搜索字符
        fields: {
            title: 'title', // 结果标题
            description: 'description', // 描述
            url: 'url' // 跳转url
        }
    });
    $('.ui.accordion').accordion({
        selector: {
            trigger: '.title .icon'
        }
    });
</script>
</html>