<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="pusher">
            {% include header.html %}
            <div class="page-content">
                <div class="wrap">
                    {{ content }}
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
<script>
    var summary = [{
        text: 'Parent 1',
        href: '#parent1',
        nodes: [
            {
                text: 'Child 1',
                href: '#child1',
                nodes: [
                    {
                        text: 'Grandchild 1',
                        href: '#grandchild1'
                    },
                    {
                        text: 'Grandchild 2',
                        href: '#grandchild2'
                    }
                ]
            },
            {
                text: 'Child 2',
                href: '#child2'
            }
        ]
    },{
            text: 'Parent 2',
            href: '#parent2'
        },
        {
            text: 'Parent 3',
            href: '#parent3'
        },
        {
            text: 'Parent 4',
            href: '#parent4'
        },
        {
            text: 'Parent 5',
            href: '#parent5'
        }
    ];
    // 菜单
    $('#summary').treeview({
        color: "#428bca",
        enableLinks: true,
        showBorder: false,
        data: summary
    });
    console.info({{ site.data.summary }});
    // 边栏
    $('.vertical.sidebar').sidebar('setting', {dimPage: false})
            .sidebar('show');

    // 目录搜索
    $('.ui.search').search({
        source: $("#summary").treeview('getEnabled'),
        minCharacters: 2, // 最小搜索字符
        fields: {
            title: 'text', // 结果标题
//            description: 'description', // 描述
            url: 'href' // 跳转url
        },
        searchFields: ['text']
    });
</script>
</html>